@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  font-family: 'Poppins', sans-serif;
}
.drop-down-container{
  @apply flex flex-col gap-y-4;
}

.center-with-position{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cv-page-button{
  @apply rounded-full py-2 px-3 text-sm
}

.cv-heading-text{
  font-size: 18px;
  font-weight: 600;
}
.cv-desc-text{
  font-size: 12px;
  max-width: 100%;
}
.cv-sub-heading-text{
  font-size: 14px;
  font-weight:600;
}
.cv-date-text{
  color: #a0a2aa;
  font-size: 10px;
}