@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "poppins", sans-serif;
}
#cv {
  font-family: sans-serif;
}
.drop-down-container {
  @apply flex flex-col gap-y-4;
}

.center-with-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-with-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cv-page-button {
  @apply rounded-full py-2 px-3 text-sm;
}
.grid-cols-custom {
  grid-template-columns: repeat(3, 1fr);
}
.cv-heading-text {
  font-size: 18px;
  font-weight: 700;
}
.cv-desc-text {
  font-size: 12px;
  max-width: 100%;
  color: #40464e;
  white-space: pre-line;
}
.cv-sub-heading-text {
  font-size: 14px;
  font-weight: 700;
}
.cv-date-text {
  color: #a0a2aa;
  font-size: 10px;
}
.auth-btn {
  @apply transition-all hover:text-blue;
}

.auth-input {
  @apply flex flex-col;
}
.letter-spacing {
  letter-spacing: 0.01px;
}
